// ============================================
// PATIENTS FEATURE STYLES
// ============================================

@import '../base/variables';
@import './patients/create-patient';
@import './patients/edit-patient';
@import './patients/patients-list';
